:root {
    --co-white: #fff;
    --co-green: #01996D;
    --co-dark-green: #245852;
    --co-black: #292929;

    /* Animations */
    --transition: all .3s ease;
}

    /* ⁡⁣⁣⁢media breakpoints 992px 768px 576px 480px⁡⁡ */